html{
    font-size: 62.5%;
    box-sizing: border-box;
}
.player{
    margin:30px auto;
    width: 400px;
    height: 500px;
    border-radius: 15px;
}
.dashboard{
    width: 100%;
    height: 200px;
    
}
header{
    padding-top:12px;
    text-align: center;
    font-size: 1.4rem;
}
header h4{
    color: rgb(224, 16, 51);
}
header h2 {
    font-weight: bold;
}
.cd{
    width: 100%;
    position: relative;
}
.cd .cd-thumb{
    width: 60%;
    height: 60%;
    background-color: aqua;
    border-radius: 100%;
}